<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobsandgeeks.saripaar.tests" >

    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme"
        android:allowBackup="false">
        <activity
            android:name=".ui.OrderedValidateActivity"
            android:label="@string/title_activity_address" >
        </activity>
        <activity
            android:name=".ui.UnorderedValidateActivity"
            android:label="@string/title_activity_address" />
        <activity
            android:name=".ui.OrderedValidateTillActivity"
            android:label="@string/title_activity_address" />
        <activity
            android:name=".ui.UnorderedValidateTillActivity"
            android:label="@string/title_activity_address" />
        <activity
            android:name=".ui.OrderedValidateBeforeActivity"
            android:label="@string/title_activity_address" />
        <activity
            android:name=".ui.UnorderedValidateBeforeActivity"
            android:label="@string/title_activity_address" />
        <activity
            android:name=".ui.CustomViewDataAdapterActivity"
            android:label="@string/title_activity_custom_view" />
        <activity
            android:name=".ui.CustomMultipleViewDataAdaptersActivity"
            android:label="@string/title_activity_custom_view" />
        <activity
            android:name=".ui.CustomAnnotationActivity"
            android:label="@string/title_activity_custom_annotation" />
        <activity
            android:name=".ui.CustomAnnotationWithAdapterActivity"
            android:label="@string/title_activity_custom_annotation_with_adapter" />
        <activity
            android:name=".ui.QuickRuleUnorderedActivity"
            android:label="@string/title_activity_quick_rule" />
        <activity
            android:name=".ui.QuickRuleOrderedActivity"
            android:label="@string/title_activity_quick_rule" />
        <activity
            android:name=".ui.QuickRuleUnorderedInOrderedActivity"
            android:label="@string/title_activity_quick_rule" />
        <activity
            android:name=".ui.QuickRuleOnlyActivity"
            android:label="@string/title_activity_quick_rule_only" />
        <activity
            android:name=".ui.QuickRuleOnlyControllerActivity"
            android:label="@string/title_activity_quick_rule_only_controller" />
        <activity
            android:name=".ui.ConfirmPasswordWithPasswordActivity"
            android:label="@string/title_activity_confirm_password" />
        <activity
            android:name=".ui.ConfirmPasswordNoPasswordActivity"
            android:label="@string/title_activity_confirm_password" />
        <activity
            android:name=".ui.ConfirmPasswordSeveralPasswordsActivity"
            android:label="@string/title_activity_confirm_password" />
        <activity
            android:name=".ui.OrderedSequencingActivity"
            android:label="@string/title_activity_address" />
        <activity
            android:name=".ui.UnorderedSequencingActivity"
            android:label="@string/title_activity_address" />
        <activity
            android:name=".ui.RemoveRulesActivity"
            android:label="@string/title_activity_remove_rules" />
        <activity
            android:name=".ui.ValidateInvisibleViewsActivity"
            android:label="@string/title_activity_validate_invisible_views" />
        <activity
            android:name=".ui.OptionalActivity"
            android:label="@string/title_activity_optional" />
    </application>

</manifest>
